<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatting Page</title>
    <link rel='stylesheet' href='/stylesheets/chat.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <main>
        <div class="sideNav1">

            <li class="active"><i class="fa-regular fa-comment-dots"></i></li>
            <li><i class="fa-solid fa-phone"></i></li>
            <li><i class="fa-solid fa-gear"></i></li>
            <li><i class="fa-solid fa-trash-can"></i></li>
            <li><i class="fa-regular fa-star"></i></li>
            <li><i class="fa-solid fa-address-book"></i></li>
        </div>
        <div class="sideNav2">
            <div class="SideNavhead">
                <h2>Chats</h2>
                <i class="fa-solid fa-filter"></i>
                <i class="fa-solid fa-user-plus"></i>

            </div>
            <div class="SearchInputHolder">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="searchInput" placeholder="Search For Chat..">

                <hr>
            </div>

            <li class="group">
                <div class="avatar"><img src="imgs/Asset 1.svg" alt=""></div>
                <p class="GroupName">David Johnson</p>
                <p class="GroupDescrp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earujdsajf djf df dfjdkj
                    dlkjfl.kjl dlkjf lkjlkdjfm, sequi.</p>
            </li>
            <li class="group">
                <div class="avatar"><img src="imgs/Asset 1.svg" alt=""></div>
                <p class="GroupName">David Johnson</p>
                <p class="GroupDescrp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earujdsajf djf df dfjdkj
                    dlkjfl.kjl dlkjf lkjlkdjfm, sequi.</p>
            </li>
            <li class="group">
                <div class="avatar"><img src="imgs/Asset 1.svg" alt=""></div>
                <p class="GroupName">David Johnson</p>
                <p class="GroupDescrp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earujdsajf djf df dfjdkj
                    dlkjfl.kjl dlkjf lkjlkdjfm, sequi.</p>
            </li>
            <li class="group">
                <div class="avatar"><img src="imgs/Asset 1.svg" alt=""></div>
                <p class="GroupName">David Johnson</p>
                <p class="GroupDescrp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earujdsajf djf df dfjdkj
                    dlkjfl.kjl dlkjf lkjlkdjfm, sequi.</p>
            </li>
            <li class="group">
                <div class="avatar"><img src="imgs/Asset 1.svg" alt=""></div>
                <p class="GroupName">David Johnson</p>
                <p class="GroupDescrp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earujdsajf djf df dfjdkj
                    dlkjfl.kjl dlkjf lkjlkdjfm, sequi.</p>
            </li>
            <li class="group">
                <div class="avatar"><img src="imgs/Asset 1.svg" alt=""></div>
                <p class="GroupName">David Johnson</p>
                <p class="GroupDescrp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earujdsajf djf df dfjdkj
                    dlkjfl.kjl dlkjf lkjlkdjfm, sequi.</p>
            </li>
            <li class="group">
                <div class="avatar"><img src="imgs/Asset 1.svg" alt=""></div>
                <p class="GroupName">David Johnson</p>
                <p class="GroupDescrp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earujdsajf djf df dfjdkj
                    dlkjfl.kjl dlkjf lkjlkdjfm, sequi.</p>
            </li>
            <li class="group">
                <div class="avatar"><img src="imgs/Asset 1.svg" alt=""></div>
                <p class="GroupName">David Johnson</p>
                <p class="GroupDescrp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earujdsajf djf df dfjdkj
                    dlkjfl.kjl dlkjf lkjlkdjfm, sequi.</p>
            </li>
            <li class="group">
                <div class="avatar"><img src="imgs/Asset 1.svg" alt=""></div>
                <p class="GroupName">David Johnson</p>
                <p class="GroupDescrp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earujdsajf djf df dfjdkj
                    dlkjfl.kjl dlkjf lkjlkdjfm, sequi.</p>
            </li>
            <li class="group">
                <div class="avatar"><img src="imgs/Asset 1.svg" alt=""></div>
                <p class="GroupName">David Johnson</p>
                <p class="GroupDescrp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earujdsajf djf df dfjdkj
                    dlkjfl.kjl dlkjf lkjlkdjfm, sequi.</p>
            </li>
            <li class="group">
                <div class="avatar"><img src="imgs/Asset 1.svg" alt=""></div>
                <p class="GroupName">David Johnson</p>
                <p class="GroupDescrp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earujdsajf djf df dfjdkj
                    dlkjfl.kjl dlkjf lkjlkdjfm, sequi.</p>
            </li>
            <li class="group">
                <div class="avatar"><img src="imgs/Asset 1.svg" alt=""></div>
                <p class="GroupName">David Johnson</p>
                <p class="GroupDescrp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earujdsajf djf df dfjdkj
                    dlkjfl.kjl dlkjf lkjlkdjfm, sequi.</p>
            </li>

        </div>
        <section class="Chat">
            <div class="ChatHead">
                <li class="group">
                    <div class="avatar"><img src="imgs/Asset 1.svg" alt=""></div>
                    <p class="GroupName">David Johnson</p>

                </li>
                <div class="callGroup">
                    <i class="fa-solid fa-phone"></i>
                    <i class="fa-solid fa-video"></i>

                </div>
            </div>
            <div class="MessageContainer">
                <span></span>
                <div class="messageSeperator">Yesterday</div>
                <div class="message me">
                    <p class="messageContent">Hello!</p>
                    <div class="messageDetails">
                        <div class="messageTime">3:21 PM</div>
                        <i class="fa-solid fa-check"></i>
                    </div>
                </div>
                <div class="message me">
                    <p class="messageContent">How are You!</p>
                    <div class="messageDetails">
                        <div class="messageTime">3:22 PM</div>
                        <i class="fa-solid fa-check"></i>
                    </div>
                </div>
                <div class="message you">
                    <p class="messageContent">I'm Fine!</p>
                    <div class="messageDetails">
                        <div class="messageTime">3:30 PM</div>
                        <i class="fa-solid fa-check"></i>
                    </div>
                </div>
                <div class="message you">
                    <p class="messageContent">How are You!</p>
                    <div class="messageDetails">
                        <div class="messageTime">3:32 PM</div>
                        <i class="fa-solid fa-check"></i>
                    </div>
                </div>
                <div class="message me">
                    <p class="messageContent">I'm also Fine!</p>
                    <div class="messageDetails">
                        <div class="messageTime">3:36 PM</div>
                        <i class="fa-solid fa-check"></i>
                    </div>
                </div>
                <div class="message me">
                    <p class="messageContent">Send Me the Pics!</p>
                    <div class="messageDetails">
                        <div class="messageTime">3:21 PM</div>
                        <i class="fa-solid fa-check"></i>
                    </div>
                </div>
                <div class="messageSeperator">Today</div>
                <div class="message you">
                    <p class="messageContent">Sorry for the Delay!</p>
                    <div class="messageDetails">
                        <div class="messageTime">8:09 AM</div>
                        <i class="fa-solid fa-check"></i>
                    </div>
                </div>
                <div class="message you">
                    <p class="messageContent">Here are Pics!</p>
                    <div class="messageDetails">
                        <div class="messageTime">3:21 AM</div>
                        <i class="fa-solid fa-check"></i>
                    </div>
                </div>
            </div>
            <form id="MessageForm">
                <input type="text" id="MessageInput">
                <button class="Send"><i class="fa-solid fa-paper-plane"></i></button>
            </form>
        </section>
    </main>
</body>
</html>