<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/stylesheets/edit.css">
</head>

<body>
    <div class="container">
        <h1>Edit Profile</h1>
        <div class="form-group img-tag" id="pic">
            <img src="/images/uploads/<%= user.profile%>">
        </div>
        <form action="/updatePic" class="form-group" hidden id="picUpload" method="post" enctype="multipart/form-data">
            <label for="image">Profile Image</label>
            <input type="file" id="image" name="image">
        </form>
        <form action="/update" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="fullname" value="<%= user.fullname %>">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" value="<%= user.username %>">
            </div>
            <div class="form-group">
                <label for="bio">Bio</label>
                <textarea id="bio" name="bio"><%= user.bio %></textarea>
            </div>
            <button type="submit">Save Changes</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script>
        gsap.from(".container", { opacity: 0, duration: 1, y: -50, ease: "power2.out" });
        document.querySelector("#pic img").addEventListener("click", function () {
            document.getElementById("image").click();
        });
        document.querySelector("#picUpload input").addEventListener("change", function () {
            document.getElementById("picUpload").submit();
        });
    </script>
</body>

</html>