<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login and Forgot Form</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <input type="radio" id="loginForm" name="formToggle" checked>
  <div class="wrapper" id="loginFormContent">
      <div id="container">
          <div id="left">
              <h1 id="welcome">Welcome back</h1>
              <p id="lorem">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                  Vivamus sodales eros non arcu pellentesque convallis.<br>
                  Nunc dignissim lectus in malesuada porta.<br>
                  Proin ac erat sed urna congue suscipit.<br>
                  Morbi aliquet eget nisl id ornare.
              </p>
          </div>
          <form id="right" action="/login" method="post">
              <h1 id="login">LogIn</h1>
              <% if(error.length>0) { %>
              <p class="error"><%= error %></p>
              <% } %>
              <div class="input">
                  <input type="text" class="client-info" name="username" required />
                  <label for="username" id="username">Username</label>
              </div>
              <div class="input">
                  <input type="password" name="password" required class="client-info">
                  <label for="password" id="password">Password</label>
              </div>
              <div class="input">
                  <input type="submit" class="client-info submit" value="Submit">
              </div>
              <div class="input">
                  <button class="specialButton register">Don't have an account?
                      <label><a href="/loginapp">Register</a></label>
                  </button>
              </div>
              <div class="input">
                  <button class="specialButton" id="forgot">
                      <label for="forgotForm"><a href="/forgot">Forgot Password</a></label>
                  </button>
              </div>
          </form>
      </div>
  </div>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
  <script src="/javascripts/index.js"></script>
</body>

</html>