<!DOCTYPE html>
<html>
<head>
  <title>Login and Registration Form</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <input type="radio" id="loginForm" name="formToggle" checked>
  <input type="radio" id="registerForm" name="formToggle">
  <input type="radio" id="forgotForm" name="formToggle">
  <div class="wrapper" id="loginFormContent">
    <form action="/login" method="post">
      <h1>Login</h1>
      <% if(error.length>0) { %>
      <p class="error"><%= error %></p>
      <% } %>
      <div class="input-box">
        <input type="text" placeholder="Username" name="username" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Password" name="password" required>
      </div>
      <div class="checkbox1">
        <label><input type="checkbox">Remember Me</label>
        <label for="forgotForm">Forgot Password</label>
      </div>
      <button type="submit" class="btn">Login</button>
      <div class="link">
        <p>Don't have an account? <label for="registerForm">Register</label></p>
      </div>
    </form>
  </div>
  <div class="wrapper" id="registerFormContent">
    <form action="/register" method="post" enctype="multipart/form-data">
      <h1>Register</h1>
      <div class="input-box">
        <input type="file" placeholder="Profile" name="profile" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Fullname" name="fullname" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Username" name="username" required>
      </div>
      <div class="input-box">
        <input type="email" placeholder="Email" name="email" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Password" name="password" required>
      </div>
      <div class="checkbox1">
        <label><input type="checkbox" required>I agree to terms & conditions</label>
      </div>
      <button type="submit" class="btn">Register</button>
      <div class="link">
        <p>Already have an account? <label for="loginForm">Login</label></p>
      </div>
    </form>
  </div>
  <div class="wrapper" id="forgotFormContent">
    <form action="">
      <h1>Reset your password</h1>
      <div class="input-box">
        <input type="email" placeholder="Email" name required>
      </div>
      <div class="input-box">
        <button type="submit" class="btn">Send Request</button>
        <div class="link">
          <p>Don't have an account? <label for="registerForm">Register</label></p>
        </div>
    </form>
  </div>
</body>
</html>