* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(310deg, #df98fa, #9055ff);
  font-family: sans-serif;

}

.wrapper {
  display: none;
}

#loginForm:checked~#loginFormContent,
#registerForm:checked~#registerFormContent,
#forgotForm:checked~#forgotFormContent,
#resetForm:checked~#resetFormContent {
  display: block;
}

input[type="radio"] {
  display: none;
}

.error {
  font-weight: 800;
  color: red;
  text-transform: capitalize;
  padding: 10px 0px;
  text-align: center;
  border: 1px solid #fd7f7f;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  background: rgba(255, 0, 0, 0.2);
}

:root {
  --main-color: #fff;
  --second-color: #347deb;
  --box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  --register-color: rgb(60, 90, 154);
  --forgot-color: rgb(220, 74, 61);
}

#container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  width: 80%;
  height: 85%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  box-shadow: var(--box-shadow);
}

#left,
#right {
  margin: auto;
  width: 95%;
  height: 96%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#left {
  background-image: url("https://images.unsplash.com/photo-1615400014497-55726234cccb?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzg4Njg0Ng&ixlib=rb-1.2.1&q=85");
  background-size: cover;
  background-position: center;
  box-shadow: var(--box-shadow);
}

#welcome,
#lorem {
  margin: 20px;
  text-shadow: var(--box-shadow);
}
#lorem:nth-child(2){
  margin-bottom: 0px;
  font-size: 2.5vh;
}
#welcome {
  font-size: 75px;
  font-weight: 300;
  margin-top: 330px;
  text-shadow: var(--box-shadow);
}

#login {
  padding-top: 35%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  text-shadow: var(--box-shadow);
}

.client-info {
  display: block;
  margin: 10px auto;
  width: 60%;
  height: 50px;
  border: solid #999 1px;
  border-radius: 5px;
  text-indent: 15px;
  transition: all 200ms;
  box-shadow: var(--box-shadow);
}

.check {
  display: flex;
  justify-content: flex-start;
  height: 15px;
  border: none;
  box-shadow: none;
}

.check label {
  background: transparent;
  margin: 0;
  padding-inline: 1rem;
}

.client-info:focus {
  width: 80%;
}

.client-info:focus~label {
  left: 12%;
}

#profile {
  display: none;
}

.profile {
  width: 4rem;
  border-radius: 50%;
  height: 4rem;
  margin: auto;
  border: 1px solid #333;
  overflow: hidden;
  position: relative;
}

.profile span {
  position: absolute;
  bottom: 0;
  right: 0;
  top: -12px;
  left: -23px;
}

.profile span i {
  font-size: 5rem;
}

label {
  position: absolute;
  font-size: 12px;
  white-space: nowrap;
  background: #fff;
  padding: 2px 5px;
  color: #999;
  transition: all 200ms;
  text-shadow: var(--box-shadow);
  border-radius: 5px;
}

.submit {
  border: none;
  background-color: #9055ff;
  color: white;
  width: 60%;
  font-size: inherit;
}

.submit:hover {
  background-color: #df98fa;
}

.specialButton {
  background-color: #fff;
  display: block;
  margin: 10px auto;
  width: 70%;
  height: 50px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  transition-duration: 200ms;
  box-shadow: var(--box-shadow);
  text-shadow: var(--box-shadow);
}

.register {
  border: solid var(--register-color) 1px;
  color: var(--register-color);
}

.register label a {
  color: var(--register-color);
  text-decoration: none;
  font-size: inherit;
}

.register:hover {
  background-color: var(--register-color);
  color: white;

  label a {
    color: white;
  }
}

#forgot {
  border: solid var(--forgot-color) 1px;
}

#forgot label a {
  color: var(--forgot-color);
  text-decoration: none;
}

#forgot:hover {
  background-color: var(--forgot-color);

  label a {
    color: white;
  }
}

button>label {
  position: unset;
  margin: 0;
  background-color: transparent;
  font-size: inherit;
}

@media (max-height: 850px) {

  #login {
    padding: 10% 0%;
  }

  #welcome {
    margin-top: 15vh;
    font-size: 60px;
  }

  #lorem {
    font-size: 15px;
  }

}

@media (max-width: 1250px) {

  #container {
    display: block;
  }

  #left {
    display: none;
  }

  #right {
    margin-top: 10px;
    background-image: url("https://images.unsplash.com/photo-1615400014497-55726234cccb?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzg4Njg0Ng&ixlib=rb-1.2.1&q=85");
    background-size: cover;
    background-position: center;
    box-shadow: var(--box-shadow);
  }

}

@media (max-height: 850px) {
  #registerFormContent #container #right #login {
    padding: 2%;
  }
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.input>label {
  top: 10%;
  left: 25%;
}